// CHROME
$titleBarGray: #E4E2E4;
$titleBarGrayLight: #E0DEE0;
$titleBarGrayMedium: #ACAAAC;
$titleBarGrayDark: #2A282A;

// BASICS
$white: #FFFFFF;
$textGray: #333333;
$placeholderGray: #A9A9A9;
$alertRed: #FF0000;
